body{
    direction: rtl;
    font-family: Calibri;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-x:hidden ;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6b789d;
}
li {
  float: right;
}
li:hover{
       background-color: #f1f3ff;
}
@media only screen and (max-width: 800px) and (min-width: 200px) {
  li a {

  display: block;
  color: #000000;
  text-align: center;
  padding: 12px;
  text-decoration: none;
    font-family: Calibri, Arial, Dubai Medium;
    font-size: 14px;
}
label{
    font-size: large;
}
pre{
    font-size: large;
}
input{
    width: 98%;
    font-family: Calibri;
    font-size: 21px;
}
select{
    width: 98%;
    font-size:large;

}
}
@media only screen and (min-width: 900px) {
  li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 16px;
  text-decoration: none;
    font-family: Calibri, Arial, Dubai Medium;
    font-size: large;
}
label{
    font-size: x-large;
}
input{
    width: 98%;
    font-family: Calibri;
    font-size: x-large;
}
select{
    width: 98.5%;
    font-size:x-large;
}
.birth{
    width: 32% !important;
    font-family: Calibri;
    font-size: large;
    margin-left: 6px;
    margin-right: 6px;
}


}
#d{
    width: 93%;
    height: 1000px;
    background-color: #f1f3ff;
    margin-right: auto;
    margin-left: auto;
}

textarea{
    width: 98%;
    resize: none;
    font-size: 18px;
}
button{
    font-size: 33px;
    padding: 10px 100px 10px 100px;
    color: #ffffff;
    background-color: #424242;
}
#btn{
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}
#more{
    font-size: 22px;
    font-family: Calibri;
}

