<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
       <meta name="description" content="Add person to FPI">
        <meta name="keywords" content="HTML, CSS">
        <meta name="author" content="Danial Jamali">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, us">
    <title>Add</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/add.css' %}">
</head>
<body>
<div id="l">
    <ul>
        <li><a href="/">خانه</a></li>
        <li id="Showing"><a href="/add/">افزودن فرد</a></li>
        <li><a href="/edit/">ویرایش افراد</a></li>
    </ul>
</div>

<br>

<div id="d">
    <form method="post" action="{% url 'S' %}" enctype="multipart/form-data" >
        <div>
            {% csrf_token %}
            <label for="name">اسم:</label>
            <br>
            <input type="text" name="name" >
            <br>
            <br>
            <label for="upload">عکس:</label>
            <br>
            <input id="upload" type="file" name="upload">
            <br><br> 
            <label for="family">نام خانوادگی:</label>
            <br>
            <input type="text" name="family" >
            <br>
            <br>
            <label for="code">کد ملی:</label>
            <br>
            <input type="text" name="code" >
            <br>
            <br>
            <label for="gender">جنسیت:</label>
            <select name="gender" >
                <option value="Man">مرد</option>
                <option value="Woman">زن</option>            
            </select>
            <br>
            <br>
            <br>
            <label>تاریخ تولد:</label>
            <br>
            <br>
            <select class="birth" name="day">
                <option>DD</option>
                {% for i in dayList %}
                    <option>{{ i }}</option>
                {% endfor %}
            </select>

            <select class="birth" name="month">
                <option>MM</option>
                {% for i in monthList %}
                    <option>{{ i }}</option>
                {% endfor %}
            </select>

            <select class="birth" name="year">
                <option>YYYY</option>
                {% for i in yearList %}
                    <option>{{ i }}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <label>توضیحات بیشتر:</label>
            <textarea id=more rows="8" name="MoreInfo"></textarea>
            <div id="btn">
            <button type="submit" id="button" >
                ذخیره
            </button>
           
        </div>
    </form>
</div>
</body>
</html>