<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/add.css' %}">
</head>
<body>

<div id="div">
    <form method="post" action="{% url 'S' %}">
        {% csrf_token %}
        <label for="name">اسم:</label>
        <input type="text" name="name">
        <br>
        <br>
        <label for="family">نام خانوادگی:</label>
        <input type="text" name="family">
        <br>
        <br>
        <label for="code">کد ملی:</label>
        <input type="text" name="code">
        <br>
        <br>
        <label style="font-size: 20px" for="gender">جنسیت:</label>
        <select name="gender">
            <option value="Man">Man</option>
            <option value="Woman">Woman</option>
        </select>
        <br>
        <br>
        <label style="font-size: 20px">پدر:</label>
        <select name="father">
            <option value="null">null</option>
            {% for f in f_list %}
                <option value="{{ f.id }}">{{ f.Name }} {{ f.Family }} {{ f.Nathinalcode }}</option>
            {% endfor %}>
        </select>
        <br>
        <br>
        <label style="font-size: 20px">مادر:</label>
        <select name="mother">
            <option value="null">null</option>
            {% for m in m_list %}
                <option value="{{ m.id }}">{{ m.Name }} {{ m.Family }} {{ m.Nathinalcode }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <label style="font-size: 20px">تاریخ تولد:</label>
        <input type="date" name="birthday">
        <input type="file" name="image">
        <button type="submit" id="button" style="border: 0px solid #FFFFFF">
            <img id="img" src="{% static 'jpg/button.png' %}" style="width: 200px">
        </button>
    </form>
</div>
</body>
</html>