<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="edit code">
    <meta name="keywords" content="HTML, CSS">
    <meta name="author" content="Danial Jamali">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, us">
    <title>Index of FPI</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index-style.css' %}">

</head>

<body >
<div>
    <div id="list">
        <ul>
            <li><a href="/">خانه</a></li>
            <li><a href="/add/" class="l">افزودن فرد</a></li>
            <li id="ShowingPage"><a href="/edit/" class="l">ویرایش افراد</a></li>
        </ul>
    </div>
    <br>



</div>
<div>
    {% for i in Person %}


        <div class="Per" onclick="click(window.location.assign('/index/edit/{{ i.id }}'))">
            <div  class="info" style="padding-top: 10px"><div class ="Na" ><a>{{ i.Name }} {{i.Family}}</a></div></div>
            <div class="meli"><a class="meli_a">{{ i.CodeNational }}</a></div>
        </div>


    {% endfor %}
</div>


</body>
</html>