<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
       <meta name="description" content="Add person to FPI">
        <meta name="keywords" content="HTML, CSS">
        <meta name="author" content="Danial Jamali">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, us">
    <title>Add</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/add.css' %}">
</head>
<body>
<div id="l">
    <ul>
        <li><a href="">خانه</a></li>
        <li><a href="add/">افزودن فرد</a></li>
        <li><a href="edit/">ویرایش افراد</a></li>
    </ul>
</div>

<br>

<div id="d">
    <form method="post" action="{% url 'E' %}">
        {% csrf_token %}
        <input type="hidden" value="{{Person.id}}" name="id">
        <label for="name">اسم:</label>
        <br>
        <input type="text" name="name" value="{{Person.Name}}">
        <br>
        <br>
        <label for="family">نام خانوادگی:</label>
        <br>
        <input type="text" name="family"  value="{{Person.Family}}">
        <br>
        <br>
        <label for="code">کد ملی:</label>
        <br>
        <input type="text" name="code"  value="{{Person.CodeNational}}">
        <br>
        <br>
        <label for="gender">جنسیت:</label>
        <select name="gender" >
            {% if Person.sex == "Man" %}
            <option value="Man">مرد</option>
            <option value="Woman">زن</option>
            {%endif%}
            {% if Person.sex == "Woman" %}
            <option value="Woman">زن</option>
            <option value="Man">مرد</option>
            {%endif%}
        </select>
        <br>
        <br>
        <label>پدر:</label>
        <br>
        <select name="father">
            <option value="{{f.id}}">{{ f.Name }} {{ f.Family }} {{ f.Nathinalcode }}</option>
            {% for f in f_list %}
                <option value="{{ f.id }}">{{ f.Name }} {{ f.Family }} {{ f.Nathinalcode }}</option>
            {% endfor %}>
        </select>
        <br>
        <br>
        <label>مادر:</label>
        <select name="mother">
            <option value="{{m.id}}">{{ m.Name }} {{ m.Family }} {{ m.Nathinalcode }}</option>
            {% for m in m_list %}
                <option value="{{ m.id }}">{{ m.Name }} {{ m.Family }} {{ m.Nathinalcode }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <label>تاریخ تولد:</label>
        <br>
        <input value="{{Person.Birth}}" type="date" name="birthday">
        <br>
        <br>
        <label>آدرس:</label>
        <input value="{{Person.Adr}}" type="text" name="Adr">
        <br>
        <br>
        <label>توضیحات بیشتر:</label>
        <textarea id="more"  rows="8" name="MoreInfo">{{Person.MoreInfo}}</textarea>
       
        <button type="submit" id="button" >
            ذخیره
        </button>
    </form>
</div>
</body>
</html>