<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS">
    <meta name="author" content="Danial Jamali">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, us">
    <title>Index of FPI</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index-style.css' %}">
    <script src="{% static 'js/index.js' %}"></script>

</head>


    <div id="list">
        <ul>
            <li id="ShowingPage"><a href="/">خانه</a></li>
            <li><a href="/add/" class="l">افزودن فرد</a></li>
            <li><a href="/edit/" class="l">ویرایش افراد</a></li>
        </ul>
    </div>
    <br>



</div background="{% static 'jpg/a.png' %}">

<div id="search">
    <input type="text" id="input" oninput="search()">
</div>

<div>
    <body>
    
    <div>
    {% for i in Person %}
    <div id="{{forloop.counter}}" value="{{ i.Name }} {{i.Family}}" class="Per" onclick="click_('{{i.id}}')">
        <div  class="info" style="padding-top: 10px"><div class ="Na" ><a>{{ i.Name }} {{i.Family}}</a></div></div>
        <div class="meli"><a class="meli_a" >{{ i.CodeNational }}</a></div>
        </div>
    {% endfor %}
</div>


</body>
</html>