<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ person.Name }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/show-style.css' %}">
    <link href="{% static 'js/show.js' %}">
    
</head>
<body>

    <div id="mother_div">

        <a id="name"> {{ person.Name }} {{ person.Family }}</a>
        <hr>
        <br>
        <div>
            <div class="parent">مادر:	&nbsp; {{ mother.Name }} {{ mother.Family }}({{ mother.CodeNational }})</div>
            <div class="parent">پدر:	&nbsp;{{ father.Name }} {{ father.Family }}({{ father.CodeNational }})</div>
        </div>
        <hr>
        <a id="code">کد ملی: {{ person.CodeNational }}</a>
        <br>
        <br>
        <a id="code">تاریخ تولد: {{ person.Birth }}</a>
        <br>
        <br>
        
        <button onclick="show_more()">اطلاعات بیشتر</button>
        <div id="info">
        <p>{{person.MoreInfo|linebreaks}}</p>
        </div>
        <script>   
            function show_more(){
                var x = document.getElementById('info');
                x.style.display="block"
                x.style.fontSize="23px"
            }
        </script>
    </div>

</body>
</html>