<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="edit">
     <meta name="keywords" content="HTML, CSS">
     <meta name="author" content="Danial Jamali">
     <meta name="viewport" content="width=device-width, initial-scale=1.0,">
    <title>{{ person.Name }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/show-style.css' %}">
    <script src="{% static 'js/show.js' %}"></script>
    
</head>
<body>
    <div id="mother_div">

        <a id="name"> {{ person.Name }} {{ person.Family }}</a>
        <hr>
        <br>
        <div>
            <div class="parent">مادر:	&nbsp; {{ mother.Name }} {{ mother.Family }}({{ mother.CodeNational }})</div>
            <br>
            <div class="parent">پدر:	&nbsp;{{ father.Name }} {{ father.Family }}({{ father.CodeNational }})</div>
        </div>
        <hr>
        <a id="code">کد ملی: {{ person.CodeNational }}</a>
        <br>
        <hr>
        
        <a id="code">تاریخ تولد: {{ person.Birth }}</a>
        <br>
        <hr>
        <br>
        <form method="POST" action="{% url 'D' %}" id="form-delete">
            {% csrf_token %}
            <button id="delete">حذف</button>
            <input type="hidden" value="{{person.id}}" name="id">
        </form>
        <br>
        <button id="more" onclick="show_more()">اطلاعات بیشتر</button>
        
    </div>
    <div id="info">
        <h4 >اطلاعات بیشتر</h3>
        <p>{{person.MoreInfo|linebreaks}}</p>
    </div>

</body>
</html>